<p-toast [style]="{marginTop: '100px'}"></p-toast>

<form [formGroup]="userform" (ngSubmit)="save(userform.value)">
  <p-panel header="Enregistrer une nouvelle véhicule">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Fournisseur *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="fournisseur" placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="champ obligatoire" *ngIf="!userform.controls['fournisseur'].valid&&userform.controls['fournisseur'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          nombreEntite *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="nombreEntite" placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="champ obligatoire" *ngIf="!userform.controls['nombreEntite'].valid&&userform.controls['nombreEntite'].dirty"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          nom *:
        </div>
        <div class="ui-grid-col-6">
          <textarea pInputTextarea type="text" formControlName="nom"></textarea>
        </div>
        <div class="ui-grid-col-4"><p-message severity="error" text="champ obligatoire" *ngIf="!userform.controls['utilite'].valid&&userform.controls['utilite'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Date Achat *:
        </div>
        <div class="ui-grid-col-6">
          <p-calendar dateFormat="dd-MM-yy" formControlName="dateachat" ></p-calendar>
        </div>
        <div class="ui-grid-col-4"><p-message severity="error" text="champ obligatoire" *ngIf="!userform.controls['dateachat'].valid&&userform.controls['dateachat'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Type *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="champ obligatoire" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" label="Enregistrer" [disabled]="!userform.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div style="text-align:center;margin-top:20px;" *ngIf="submitted">
        Voiture Enregistrée
        <br>
        {{diagnostic}}
      </div>
    </div>
  </p-panel>
</form>

