<div class="container">
  <div class="row">
    <div class="col-md-6">
<div class="card bg-info" >
  <div class="card-header">Save Materiel</div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-3"> <label>fournisseur</label> </div>

      <div class="form-group">
        <div class="col-md-9">
          <input type="text" placeholder="marque  mn base de donner mn b3d madkhlna dak lfr">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3"> <label>Quantite</label> </div>

      <div class="form-group">
        <div class="col-md-9">
          <input type="text" placeholder="Nbr EntiteToAdd">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3"> <label>Nom</label> </div>

      <div class="form-group">
        <div class="col-md-9">
          <input type="text">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4"> <label>Type</label> </div>


        <div class="col-md-8">
          <select class="btn btn-block custom-select">
            <option selected>Choose...</option>
            <option value="1">informatique</option>
            <option value="2">Enseinement</option>

          </select>
        </div>


    </div>

    <div class="row">
      <div class="col-md-4"> <label>Locale</label> </div>


        <div class="col-md-8">
          <select class="btn btn-block custom-select" >
            <option selected>Choose...</option>
            <option value="1">sale 1</option>
            <option value="2">sale 2</option>

          </select>
        </div>


    </div>

  </div>
  <header class="card-footer">
    <button class="btn btn-block">Save</button>
  </header>
      </div>
    </div>
  </div>
</div>
