<p-table #dt [columns]="cols" [value]="foundedPresBonLivraisons" selectionMode="single" [resizableColumns]="true" [autoLayout]="true"  [paginator]="true" [rows]="8">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h3" style="color: #004a80"><strong>Bon Livraison</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div style="text-align: center; align-items: center; align-content: center">
          <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher dans la table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <!--<th>Action</th>-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <!--
      <td style="text-align:center">
        <span><button  class="btn btn-block btn-outline-success"  (click)="delete(rowData)"><i class="fa fa-trash"></i></button></span>
      </td>
      -->
    </tr>
  </ng-template>

</p-table>
