<!--<p-toast [style]="{marginTop: '2%'}"></p-toast>-->
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Annuler" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-table #dt [columns]="cols"  [value]="foundedLocalDetails" [resizableColumns]="true" [autoLayout]="true" selectionMode="single" [(selection)]="selectedLocal" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h3" style="color: #004a80"><strong>Gestion Materiels des locaux</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div style="text-align: center; align-items: center; align-content: center">
            <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
            <input type="text" pInputText size="50" placeholder="Rechercher dans la Table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
          </div>
        </div>
      </div>


    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-plus-circle" (click)="showDialogToAdd()" label="Ajouter un matériel à un locale"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog  header="Matériel-locale Détails"   [(visible)]="displayDialog" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width:'700px',textAlign:'center'}">
    <div class="ui-g ui-fluid" style="height: 400px" *ngIf="local">


      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="ref" style="color: #00aeef"><strong>Réference Matériel : </strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText  id="ref" formControlName="referencelocal"  [(ngModel)]="local.referenceML">
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['referencelocal'].touched &&!userform.controls['referencelocal'].dirty  || userform.controls['referencelocal'].value=='')"
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="type" style="color: #00aeef"><strong>Nom Matériel: </strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <p-dropdown  id="type" formControlName="materiellocal" [options]="foundedMaterielToChoose" optionLabel="descriptionDropDown" [(ngModel)]="local.materiel" placeholder="Choisissez un materiel" [filter]="true" ></p-dropdown>
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['materiellocal'].touched &&!userform.controls['materiellocal'].dirty  || userform.controls['materiellocal'].value=='Choisissez un materiel')"
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label style="color: #00aeef"><strong> Nom Local : </strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <p-dropdown formControlName="localassocie" [options]="foundedLocalToChoose" optionLabel="descriptionDropDown" [(ngModel)]="local.locale" [filter]="true"></p-dropdown>
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['localassocie'].touched &&!userform.controls['localassocie'].dirty  || userform.controls['localassocie'].value=='Choisissez un locale')"
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-3">

          <label for="date" style="color: #00aeef"><strong>Date Affectation : </strong></label>
        </div>

        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="date" formControlName="dateachat" type="date" [(ngModel)]="local.dateAffectation" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['dateachat'].hasError('required') && (userform.controls['dateachat'].dirty || userform.controls['dateachat'].touched) " text="Champ Obligatoire"></p-message>
        </div>

      </div>


    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!cancel"  type="button" pButton icon="pi pi-trash" (click)="confirm()" label="Supprimer"></button>
        <button type="button" pButton icon="pi pi-save" [disabled]="!userform.valid" (click)="save()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>
