<p-toast></p-toast>
  <p-table #dt [columns]="colsC"   [value]="bonsC" [resizableColumns]="true" [autoLayout]="true"  selectionMode="single"   [(selection)]="selectedBonC" (onRowSelect)="onRowSelectC($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption" >
      <div class="row">
        <div class="col-md-12">
          <h1 class="h3" style="color: #004a80"><strong>Bon Carburant</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div style="text-align: center; align-items: center; align-content: center">
            <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
            <input type="text" pInputText size="50" placeholder="Rechercher dans la Table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>

      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAddC()" label="Ajouter un Bon Carburant"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog  header="Bon Carburant Détails"   [(visible)]="displayDialogC" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width:'60%',textAlign:'center'}">
    <div class="ui-g ui-fluid" style="height: 450px" *ngIf="bonC">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="numbonc"> Numéro de Bon :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="numbonc"  formControlName="numbonC"  [(ngModel)]="bonC.numbonC" autofocus />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" severity="error" *ngIf="userform.controls['numbonC'].hasError('required') && (userform.controls['numbonC'].dirty || userform.controls['numbonC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="matrv">Matricule Véhicule :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <p-dropdown [filter]="true" id="matrv" formControlName="vehiculeC" [options]="cars" optionLabel="descriptionDropDown" placeholder="Selectionnez une véhicule" [(ngModel)]="bonC.vehiculeC" ></p-dropdown>
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['vehiculeC'].touched &&!userform.controls['vehiculeC'].dirty  || userform.controls['vehiculeC'].value=='Selectionnez une véhicule')"
                     text="Veuillez choisir une véhicule"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="fo">Fournisseur :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <p-dropdown [filter]="true" id="fo" formControlName="fournisseurC" [options]="fournisseurs" optionLabel="descriptionDropDown" placeholder="Selectionnez un fournisseur" [(ngModel)]="bonC.fournisseurC" ></p-dropdown>
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['fournisseurC'].touched &&!userform.controls['fournisseurC'].dirty  || userform.controls['fournisseurC'].value=='Selectionnez un fournisseur')"
                     text="Veuillez choisir un fournisseur"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="designa">Désignation :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <textarea id="designa" formControlName="descriptionC" pInputTextarea autoResize="autoResize" [(ngModel)]="bonC.descriptionC" ></textarea>
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['descriptionC'].hasError('required') && (userform.controls['descriptionC'].dirty || userform.controls['descriptionC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="ty">Type Carburant :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="ty" formControlName="typeC" [(ngModel)]="bonC.typeC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['typeC'].hasError('required') && (userform.controls['typeC'].dirty || userform.controls['typeC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>



      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="puni">Prix Unitaire :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="puni" type="number" formControlName="prixunitaireC" [(ngModel)]="bonC.prixunitaireC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['prixunitaireC'].hasError('required') && (userform.controls['prixunitaireC'].dirty || userform.controls['prixunitaireC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="quant">Quantité :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="quant"  type="number" formControlName="quantiteC" [(ngModel)]="bonC.quantiteC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['quantiteC'].hasError('required') && (userform.controls['quantiteC'].dirty || userform.controls['quantiteC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="daterv">Date Bon :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="daterv" formControlName="datebonC"  type="date" [(ngModel)]="bonC.datebonC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['datebonC'].hasError('required') && (userform.controls['datebonC'].dirty || userform.controls['datebonC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="tbrutrv">Total Brut :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText type="number" formControlName="totalbrutC" id="tbrutrv" [(ngModel)]="bonC.totalbrutC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['totalbrutC'].hasError('required') && (userform.controls['totalbrutC'].dirty || userform.controls['totalbrutC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="mtvrv">Montant Vignette :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
            <input pInputText type="number" formControlName="montantvignetteC" id="mtvrv" [(ngModel)]="bonC.montantvignetteC" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['montantvignetteC'].hasError('required') && (userform.controls['montantvignetteC'].dirty || userform.controls['montantvignetteC'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>



    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!cancelC" type="button" [disabled]="!userform.valid" pButton icon="pi pi-times" (click)="deleteC()" label="Supprimer"></button>
        <button type="button" pButton icon="pi pi-check" [disabled]="!userform.valid" (click)="saveC()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>




