<p-toast [style]="{marginTop: '2%'}"></p-toast>
<div class="row">
  <div class="col-md-6">

    <!-- Buttons to Add a Prestation -->
    <div class="card bg-transparent" id="cardToCenter">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2" style="color: rgba(147,212,191,0.92)"><label ><h2><strong>Ajouter</strong></h2> </label></div>
      <div class="col-md-5">
        <button class="btn btn-block btn-primary" pButton icon="pi pi-plus"  (click)="showDialogToAdd()" label="Prestation Interne"></button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-block btn-primary" pButton icon="pi pi-plus"  (click)="showDialogToAddE()" label="Prestation Externe"></button>
      </div>
    </div>
    </div>
  </div>

    <!-- First dialog to add a prestation Interne -->
    <p-dialog header="Prestation Interne Details" [(visible)]="displayDialog" [focusOnShow]="false"  showEffect="fade" [modal]="true"  [style]="{width: '800px'}" >
      <div class="ui-g ui-fluid" *ngIf="prestataionInterne" >

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="typeEntretienn" style="color: #00aeef"><strong>Type Entretien :</strong> </label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform"  >
            <p-dropdown id="typeEntretienn" formControlName="typeEntretien" [options]="entretiens" placeholder="Choisir un type" [(ngModel)]="selectedEntretien" [filter]="true"></p-dropdown>
          </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error"  *ngIf="(userform.controls['typeEntretien'].touched &&!userform.controls['typeEntretien'].dirty  || userform.controls['typeEntretien'].value=='Choisir un type')"
                       text="Veuillez choisir un type"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="nomloc" style="color: #00aeef"><strong>locale :</strong> </label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform"  >
            <p-dropdown id="nomloc" formControlName="Locale" [options]="foundedLocales" optionLabel="descriptionDropDown" placeholder="Choisir un locale" [(ngModel)]="selectedLocalee" [filter]="true"></p-dropdown>
            </div>
          </div>

          <div class="ui-g-4">
            <p-message severity="error"  *ngIf="(userform.controls['Locale'].touched &&!userform.controls['Locale'].dirty  || userform.controls['Locale'].value=='Choisir un locale')"
                       text="Veuillez choisir un locale"></p-message>
          </div>

        </div>


        <div class="ui-g-12" *ngIf="selectedEntretien === 'materiel'">
          <div class="ui-g-3">
            <label for="nomMat" style="color: #00aeef"><strong>Materiel :</strong> </label>
          </div>
          <div class="ui-g-5">
            <p-dropdown id="nomMat"  [options]="selectedLocalee.localDetails" placeholder="choisir un Materiel" optionLabel="descriptionMaterielLocale" [(ngModel)]="prestataionInterne.materielLocale" [filter]="true"></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="date" style="color: #00aeef"><strong>Date :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform"  >
            <input pInputText id="date" formControlName="date"  type="date" [(ngModel)]="prestataionInterne.dateI" />
          </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="userform.controls['date'].hasError('required') && (userform.controls['date'].dirty || userform.controls['date'].touched) "
                       text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="reclameer" style="color: #00aeef"><strong>Cette prestation est reclamée ?</strong></label>
          </div>
          <div class="ui-g-2">
            <p-checkbox [(ngModel)]="prestataionInterne.reclamedI" id="reclameer" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionInterne.reclamedI}}</strong></label>
          </div>
          <div class="ui-g-3"></div>
        </div>

        <div class="ui-g-12" *ngIf="prestataionInterne.reclamedI">
          <div class="ui-g-3">
            <label for="refReclamationn" style="color: #00aeef">Réclamation associée :</label>
          </div>
          <div class="ui-g-5">
            <p-dropdown [filter]="true"  [options]="foundedReclamationsToChoose" optionLabel="descreptionDropDownReclamation" placeholder="choisir la reclamation" [(ngModel)]="prestataionInterne.reclamationI"  id="refReclamationn"></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="codeAgent" style="color: #00aeef"><strong>Agent :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform"  >
            <p-dropdown [options]="foundedAgents" formControlName="agentt" optionLabel="nomAgent" placeholder="Choisir un agent" [(ngModel)]="prestataionInterne.agent"   id="codeAgent"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="(userform.controls['agentt'].touched &&!userform.controls['agentt'].dirty  || userform.controls['agentt'].value == 'Choisir un agent')"
                       text="Veuillez choisir un agent"></p-message>
          </div>
        </div>


      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button"  pButton icon="pi pi-save" [disabled]="!userform.valid"  (click)="save()" label="Enregistrer"></button>
        </div>
      </p-footer>
    </p-dialog>

    <!-- Second dialog to add a prestation Externe -->
    <p-dialog header="Prestation Externe Details" [(visible)]="displayDialogE" [focusOnShow]="true"  showEffect="fade" [modal]="true"  [style]="{width: '660px'}">
      <div class="ui-g ui-fluid" *ngIf="prestataionExterne" >

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="typeEntretien" style="color: #00aeef"><strong>Type Entretien :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform1"  >
            <p-dropdown id="typeEntretien" formControlName="typeEntretienn" [options]="entretiens"  [(ngModel)]="prestataionExterne.typeEntretienE" placeholder="Choisir un type" [filter]="true"></p-dropdown>
          </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="(userform1.controls['typeEntretienn'].touched &&!userform1.controls['typeEntretienn'].dirty  || userform1.controls['typeEntretienn'].value=='Choisir un type')"
                       text="Veuillez choisir un type"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="typeLoc" style="color: #00aeef"><strong>Locale :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform1"  >
              <p-dropdown id="typeLoc" formControlName="LocaleE" [options]="foundedLocales" [(ngModel)]="selectedLocalee"  optionLabel="descriptionDropDown" placeholder="Choisir un locale" [filter]="true"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="(userform1.controls['LocaleE'].touched &&!userform1.controls['LocaleE'].dirty  || userform1.controls['LocaleE'].value=='Choisir un locale')"
                       text="Veuillez choisir un locale"></p-message>
          </div>
        </div>

        <div class="ui-g-12" *ngIf="prestataionExterne.typeEntretienE === 'materiel'">
          <div class="ui-g-3">
            <label for="nomMatE" style="color: #00aeef"><strong>Materiel :</strong> </label>
          </div>
          <div class="ui-g-5">
            <p-dropdown id="nomMatE"  [options]="selectedLocalee.localDetails" placeholder="choisir un Materiel" optionLabel="descriptionMaterielLocale" [(ngModel)]="prestataionExterne.materielLocale" [filter]="true"></p-dropdown>
          </div>
        </div>


        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="dateP" style="color: #00aeef"><strong>Date :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform1"  >
            <input pInputText id="dateP" formControlName="datee" type="date" [(ngModel)]="prestataionExterne.dateE" />
            </div>

          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="userform1.controls['datee'].hasError('required') && (userform1.controls['datee'].dirty || userform1.controls['datee'].touched) "
                       text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="reclamer" style="color: #00aeef"><strong>Cette prestation est déja réclamée ?</strong></label>
          </div>
          <div class="ui-g-5">
            <p-checkbox [(ngModel)]="prestataionExterne.reclamedE" id="reclamer" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.reclamedE}}</strong></label>
          </div>
        </div>

        <div class="ui-g-12" *ngIf="prestataionExterne.reclamedE">
          <div class="ui-g-3">
            <label for="refReclamation" style="color: #00aeef">Réclamation associée :</label>
          </div>
          <div class="ui-g-5">
            <p-dropdown  [options]="foundedReclamationsToChoose" optionLabel="descreptionDropDownReclamation" [(ngModel)]="prestataionExterne.reclamationE" placeholder="choisir la reclamation" id="refReclamation"></p-dropdown>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="nomPres" style="color: #00aeef"><strong>Nom Prestataire :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform1"  >
            <input type="text" formControlName="nomprestataire" [(ngModel)]="prestataionExterne.nomPrestataireE" pInputText id="nomPres">
          </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="userform1.controls['nomprestataire'].hasError('required') && (userform1.controls['nomprestataire'].dirty || userform1.controls['nomprestataire'].touched) "
                       text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="montant" style="color: #00aeef"><strong>Montant Facture :</strong></label>
          </div>
          <div class="ui-g-5">
            <div class="form-group" [formGroup]="userform1"  >
            <input type="number" formControlName="montant" [(ngModel)]="prestataionExterne.montantFacE" pInputText id="montant">
          </div>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" *ngIf="userform1.controls['montant'].hasError('required') && (userform1.controls['montant'].dirty || userform1.controls['montant'].touched) "
                       text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="bonc" style="color: #00aeef"><strong>Cette Prestation à un Bon Commande ?</strong></label>
          </div>
          <div class="ui-g-5">
            <p-checkbox [(ngModel)]="prestataionExterne.bonCommandeE" id="bonC" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.bonCommandeE}}</strong></label>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <!-- items of bon Commande -->
        <div  *ngIf="prestataionExterne.bonCommandeE" style="align-items: center; align-content: center; text-align: center">

        <div class="ui-g-12" >
          <div class="ui-g-3">
            <label for="numbonc" style="color: #00aeef">Numero Bon Commande :</label>
          </div>
          <div class="ui-g-5">
            <input type="number" pInputText [(ngModel)]="prestataionExterne.presBonCommandeE.numeroBonCommande" id="numbonC" >
          </div>
          <div class="ui-g-4">
            <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="dateBonc" style="color: #00aeef">Date Bon Commande :</label>
          </div>
          <div class="ui-g-5">
            <input pInputText id="dateBonc"  type="date" [(ngModel)]="prestataionExterne.presBonCommandeE.dateBonCommande" />
          </div>
          <div class="ui-g-4">
            <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
          </div>
        </div>

          <div class="ui-g-12">
            <div class="ui-g-3">
              <label for="montantC" style="color: #00aeef">Montant :</label>
            </div>
            <div class="ui-g-5">
              <input type="number" pInputText  [(ngModel)]="prestataionExterne.presBonCommandeE.montantC" id="montantC" >
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-3">
              <label for="nomP" style="color: #00aeef">Nom Prestataire :</label>
            </div>
            <div class="ui-g-5">
              <input type="text" pInputText  [(ngModel)]="prestataionExterne.presBonCommandeE.nomPrestataireC" id="nomP" >
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

        </div>
        <!-- fin items of bon Commande -->

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="bonL" style="color: #00aeef"><strong>Prestation A Un Bon Livraison ?</strong></label>
          </div>
          <div class="ui-g-5">
            <p-checkbox [(ngModel)]="prestataionExterne.bonLivraisonE" id="bonL" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.bonLivraisonE}}</strong></label>
          </div>
          <div class="ui-g-4">
            <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
          </div>
        </div>

        <!-- items of bon Livrraison -->

        <div  *ngIf="prestataionExterne.bonLivraisonE" style="align-items: center; align-content: center; text-align: center">

          <div class="ui-g-12" >
            <div class="ui-g-3">
              <label for="numbonL" style="color: #00aeef">Numero Bon Livraison :</label>
            </div>
            <div class="ui-g-5">
              <input type="number" pInputText [(ngModel)]="prestataionExterne.presBonLivraisonE.numeroBonLivraison" id="numbonL" >
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-3">
              <label for="dateBonL" style="color: #00aeef">Date Bon Livraison :</label>
            </div>
            <div class="ui-g-5">
              <input pInputText type="date" [(ngModel)]="prestataionExterne.presBonLivraisonE.dateBonLivraison" id="dateBonL" />
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-3">
              <label for="montantL" style="color: #00aeef">Montant :</label>
            </div>
            <div class="ui-g-5">
              <input type="number" pInputText  [(ngModel)]="prestataionExterne.presBonLivraisonE.montantL" id="montantL" >
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-3">
              <label for="nomPL" style="color: #00aeef">Nom Prestataire :</label>
            </div>
            <div class="ui-g-5">
              <input type="text" pInputText  [(ngModel)]="prestataionExterne.presBonLivraisonE.nomPrestataireL" id="nomPL" >
            </div>
            <div class="ui-g-4">
              <p-message severity="error" HIDDEN="true" text="Champ Obligatoire"></p-message>
            </div>
          </div>

        </div>

        <!-- fin items of bon Commande -->


      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" [disabled]="!userform1.valid" pButton icon="pi pi-save"  (click)="save()" label="Enregistrer"></button>
        </div>
      </p-footer>
    </p-dialog>




  </div>

  <div class="col-md-6">

    <p-table [columns]="cols" [value]="foundedReclamations" [resizableColumns]="true" [autoLayout]="true" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</div>

