<p-toast [style]="{marginTop: '30%'}"></p-toast>
<div class="row">
  <div class="col-md-8">

    <!-- Buttons to Add a Prestation -->
    <div class="card bg-transparent">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2" style="color: blue"><label for="ajouter"><h3><strong> Ajouter :</strong></h3> </label></div>
      <div class="col-md-5">
        <button class="btn btn-block btn-primary" pButton icon="pi pi-plus" id="ajouter" (click)="showDialogToAdd()" label="Prestation Interne"></button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-block btn-primary" pButton icon="pi pi-plus" id="ajouter" (click)="showDialogToAddE()" label="Prestation Externe"></button>
      </div>
    </div>

      <div class="row" >
        <div class="col-md-12" style="text-align: center; align-content: center; align-items: center">
          <button class="btn btn-block btn-success" style="width: 100%" routerLink="listes">Listes des Prestations</button>
        </div>
      </div>


    </div>
  </div>

    <!-- First dialog to add a prestation Interne -->
    <p-dialog header="Prestation Interne Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '60%', height:'90%'}" style="float: left">
      <div class="ui-g ui-fluid" *ngIf="prestataionInterne" style="height: 100%">

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="typeEntretien" style="color: #00aeef"><strong>TypeEntretien</strong> </label>
          </div>
          <div class="ui-g-8">
            <p-dropdown id="typeEntretien" [options]="entretiens" [(ngModel)]="prestataionInterne.typeEntretien" [filter]="true"></p-dropdown>
          </div>
        </div>


        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="date" style="color: #00aeef"><strong>Date</strong></label>
          </div>
          <div class="ui-g-8">

            <p-calendar [(ngModel)]="prestataionInterne.date" id="date"></p-calendar>

          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="reclamer" style="color: #00aeef"><strong>Cette prestation est reclamée ?</strong></label>
          </div>
          <div class="ui-g-8">
            <p-checkbox [(ngModel)]="prestataionInterne.reclamed" id="reclamer" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionInterne.reclamed}}</strong></label>
          </div>
        </div>

        <div class="ui-g-12" *ngIf="prestataionInterne.reclamed">
          <div class="ui-g-4">
            <label for="refReclamation">Reference de la reclamation</label>
          </div>
          <div class="ui-g-8">
            <input type="text" [(ngModel)]="prestataionInterne.referenceReclamation" pInputText id="refReclamation">
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="codeAgent" style="color: #00aeef"><strong>Code Agent</strong></label>
          </div>
          <div class="ui-g-8">
            <input type="text" [(ngModel)]="prestataionInterne.codeAgent" pInputText id="codeAgent">
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="nomAgent" style="color: #00aeef"><strong>Nom Agent</strong></label>
          </div>
          <div class="ui-g-8">
            <input type="text" [(ngModel)]="prestataionInterne.nomAgent" pInputText id="nomAgent">
          </div>
        </div>

      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-save"  (click)="save()" label="Enregistrer"></button>
        </div>
      </p-footer>
    </p-dialog>

    <!-- Second dialog to add a prestation Externe -->
    <p-dialog header="Prestation Externe Details" [(visible)]="displayDialogE" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '60%', height:'90%'}" style="float: left">
      <div class="ui-g ui-fluid" *ngIf="prestataionExterne" style="height: 100%">

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="typeEntretien" style="color: #00aeef"><strong>TypeEntretien</strong></label>
          </div>
          <div class="ui-g-8">
            <p-dropdown id="typeEntretien" [options]="entretiens" [(ngModel)]="prestataionExterne.typeEntretien" [filter]="true"></p-dropdown>
          </div>
        </div>


        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="dateP" style="color: #00aeef"><strong>Date</strong></label>
          </div>
          <div class="ui-g-8">

            <p-calendar [(ngModel)]="prestataionExterne.date" id="dateP"></p-calendar>

          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="reclamer" style="color: #00aeef"><strong>Cette prestation est reclamée ?</strong></label>
          </div>
          <div class="ui-g-8">
            <p-checkbox [(ngModel)]="prestataionExterne.reclamed" id="reclamer" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.reclamed}}</strong></label>
          </div>
        </div>

        <div class="ui-g-12" *ngIf="prestataionExterne.reclamed">
          <div class="ui-g-4">
            <label for="refReclamation">Reference de la reclamation</label>
          </div>
          <div class="ui-g-8">
            <input type="text" [(ngModel)]="prestataionExterne.referenceReclamation" pInputText id="refReclamation">
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="nomPres" style="color: #00aeef"><strong>Nom Prestataire</strong></label>
          </div>
          <div class="ui-g-8">
            <input type="text" [(ngModel)]="prestataionExterne.nomPrestataire" pInputText id="nomPres">
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="montant" style="color: #00aeef"><strong>Montant Facture</strong></label>
          </div>
          <div class="ui-g-8">
            <input type="number" [(ngModel)]="prestataionExterne.montantFac" pInputText id="montant">
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="bonc" style="color: #00aeef"><strong>Prestation A Un Bon Commande ?</strong></label>
          </div>
          <div class="ui-g-8">
            <p-checkbox [(ngModel)]="prestataionExterne.bonCommande" id="bonC" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.bonCommande}}</strong></label>
          </div>
        </div>

        <!-- items of bon Commande -->
        <div  *ngIf="prestataionExterne.bonCommande" style="align-items: center; align-content: center; text-align: center">

        <div class="ui-g-12" >
          <div class="ui-g-4">
            <label for="numbonc">Numero Bon Commande</label>
          </div>
          <div class="ui-g-8">
            <input type="number" pInputText [(ngModel)]="prestataionExterne.presBonCommande.numeroBonCommande" id="numbonC" >
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="dateBonc">Date Bon Commande</label>
          </div>
          <div class="ui-g-8">
            <p-calendar  [(ngModel)]="prestataionExterne.presBonCommande.dateBonCommande" id="dateBonc" > </p-calendar>
          </div>
        </div>

          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="montantC">Montant</label>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText  [(ngModel)]="prestataionExterne.presBonCommande.montant" id="montantC" >
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="nomP">nom Prestataire</label>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText  [(ngModel)]="prestataionExterne.presBonCommande.nomPrestataire" id="nomP" >
            </div>
          </div>

        </div>
        <!-- fin items of bon Commande -->

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="bonL" style="color: #00aeef"><strong>Prestation A Un Bon Livraison</strong></label>
          </div>
          <div class="ui-g-8">
            <p-checkbox [(ngModel)]="prestataionExterne.bonLivraison" id="bonL" [binary]="true"></p-checkbox> &nbsp; &nbsp;
            <label for="bonL" style="color: #00aeef"><strong>{{prestataionExterne.bonLivraison}}</strong></label>
          </div>
        </div>

        <!-- items of bon Livrraison -->

        <div  *ngIf="prestataionExterne.bonLivraison" style="align-items: center; align-content: center; text-align: center">

          <div class="ui-g-12" >
            <div class="ui-g-4">
              <label for="numbonL">Numero Bon Livraison</label>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText [(ngModel)]="prestataionExterne.presBonLivraison.numeroBonLivraison" id="numbonL" >
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="dateBonL">Date Bon Livraison</label>
            </div>
            <div class="ui-g-8">
              <p-calendar  [(ngModel)]="prestataionExterne.presBonLivraison.dateBonLivraison" id="dateBonL" > </p-calendar>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="montantL">Montant</label>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText  [(ngModel)]="prestataionExterne.presBonLivraison.montant" id="montantL" >
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="nomPL">nom Prestataire</label>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText  [(ngModel)]="prestataionExterne.presBonLivraison.nomPrestataire" id="nomPL" >
            </div>
          </div>

        </div>

        <!-- fin items of bon Commande -->



      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-save"  (click)="save()" label="Enregistrer"></button>
        </div>
      </p-footer>
    </p-dialog>




  </div>

  <div class="col-md-4">

    <p-table [columns]="cols" [value]="foundedReclamations" [resizableColumns]="true" [autoLayout]="true" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</div>

