<nav class="navbar navbar-dark bg-transparent" id="navbar" style="width: 100%" >
  <div class="row" style="width: 100%">
  <div class="col-md-4" style="text-align: center; width: 100% ;margin-top: 2%;">
  <a  id="logo"  routerLink="login" style="font-family: Delius;color: white; width: 100%"><h2><strong>GESTION ENTRETIEN</strong></h2> </a>
  </div>
  <div class="col-md-8" >
    <img src="../assets/baniere_fstg.jpg" alt="image" style="width: 105%;right: 0; height: 90px">
  </div>
  </div>
</nav>
<br>
<p-menubar [model]="items">
  <div>
    <label for="login" style="color: #00aeef; font-family: Algerian" ><strong>username</strong></label> &nbsp; &nbsp;
    <button pButton label="Logout" icon="pi pi-power-off" id="login" style="margin-left:.25em"></button>
  </div>
</p-menubar>
<br>

<body id="bodyComp">
<router-outlet></router-outlet>
</body>

<br>

<!-- fooooter to be changed after -->
<footer class="page-footer font-small red pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
