<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Paper Stack</title>
</head>


<body>

<div class="row">
  <section id="content" class="row" style="align-items: center; align-content: center; text-align: center">
    <div class="col-md-12">
    <form class="form-group" >
      <h1>Se Connecter </h1>
      <h3 style="color: #ed1c24" class="alert-danger">{{errorMsg()}}  </h3>
      <h3 style="color: forestgreen" class="badge-success">{{SuccessMsg()}} </h3>
      <div class="form-group">
        <input type="text" placeholder="Nom D'Utilisateur" [(ngModel)]="login.username" class="form-control" name="user" id="username" required="required">

      </div>
      <div class="form-group">
        <input type="password" placeholder="Mot de passe" [(ngModel)]="login.password" class="form-control" name="pass"  id="password" required="required">
      </div>
      <div>
        <input type="submit" (click)="connect(login.username,login.password)"  value="Connecter" />
      </div>
    </form><!-- form -->

    </div>
  </section><!-- content -->
<!-- container -->
</div>
</body>

</html>
