<p-table #dt [columns]="cols" [value]="prestationsInternes" selectionMode="single" [resizableColumns]="true" [autoLayout]="true" [(selection)]="selectedPrestation" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="8">

  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h3" style="color: #004a80"><strong>Listes Des Prestataions Internes</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div style="text-align: center; align-items: center; align-content: center">
          <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
          <input type="text" pInputText size="50" placeholder="Filtre des Résultas " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="text-align:center">
        <button  pButton icon="" class="btn btn-block btn-outline-success"></button>

      </td>
    </tr>
  </ng-template>
</p-table>

<!-- dialogue to update or delete a prestation -->

<p-dialog header="Prestation Interne Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '80%', height:'90%', float: 'left'}">
  <div class="ui-g ui-fluid" *ngIf="prestationInterne" style="height: 100%">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="typeEntretien" style="color: #00aeef"><strong>TypeEntretien</strong> </label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="typeEntretien" [options]="entretiens" [(ngModel)]="prestationInterne.typeEntretien" [filter]="true"></p-dropdown>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date" style="color: #00aeef"><strong>Date</strong></label>
      </div>
      <div class="ui-g-8">

        <p-calendar [(ngModel)]="prestationInterne.date" id="date"></p-calendar>

      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="reclamer" style="color: #00aeef"><strong>Cette prestation est reclamée ?</strong></label>
      </div>
      <div class="ui-g-8">
        <p-checkbox [(ngModel)]="prestationInterne.reclamed" id="reclamer" [binary]="true"></p-checkbox> &nbsp; &nbsp;
        <label for="reclamer" style="color: #00aeef"><strong>{{prestationInterne.reclamed}}</strong></label>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="prestationInterne.reclamed">
      <div class="ui-g-4">
        <label for="refReclamation">Reference de la reclamation</label>
      </div>
      <div class="ui-g-8">
        <input type="text" [(ngModel)]="prestationInterne.referenceReclamation" pInputText id="refReclamation">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="codeAgent" style="color: #00aeef"><strong>Code Agent</strong></label>
      </div>
      <div class="ui-g-8">
        <input type="text" [(ngModel)]="prestationInterne.codeAgent" pInputText id="codeAgent">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="nomAgent" style="color: #00aeef"><strong>Nom Agent</strong></label>
      </div>
      <div class="ui-g-8">
        <input type="text" [(ngModel)]="prestationInterne.nomAgent" pInputText id="nomAgent">
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-save"  (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
