<div style="text-align: center; align-items: center; align-content: center" *ngIf="progress"><p-progressSpinner  ></p-progressSpinner></div>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Annuler" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-table #dt [columns]="cols" [value]="foundedPrestationInterne" selectionMode="single" [resizableColumns]="true" [autoLayout]="true" [(selection)]="selectedPrestation" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">

  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h3" style="color: #004a80"><strong>Liste Des Prestations Internes</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div style="text-align: center; align-items: center; align-content: center">
          <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher dans la table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- dialogue to update or delete a prestation -->

<p-dialog header="Prestation Interne Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '660px'}">
  <div class="ui-g ui-fluid" *ngIf="prestationInterne" >

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="typeEntretien" style="color: #00aeef"><strong>Type Entretien</strong> </label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
        <p-dropdown id="typeEntretien" formControlName="typeEntretien" [options]="entretiens" [(ngModel)]="prestationInterne.typeEntretienI" [filter]="true"></p-dropdown>
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform.controls['typeEntretien'].touched &&!userform.controls['typeEntretien'].dirty  || userform.controls['typeEntretien'].value=='Choisir un type')"
                   text="Veuillez choisir un type"></p-message>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="nomloc" style="color: #00aeef"><strong>locale :</strong> </label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
          <p-dropdown id="nomloc" formControlName="Locale" [options]="foundedLocales" optionLabel="descriptionDropDown" placeholder="Choisir un locale" [(ngModel)]="prestationInterne.locale" [filter]="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform.controls['Locale'].touched &&!userform.controls['Locale'].dirty  || userform.controls['Locale'].value=='Choisir un locale')"
                   text="Veuillez choisir un type"></p-message>
      </div>
    </div>

      <div class="ui-g-12" *ngIf="prestationInterne.typeEntretienI === 'materiel'">
        <div class="ui-g-3">
          <label for="nomMat" style="color: #00aeef"><strong>Materiel :</strong> </label>
        </div>
        <div class="ui-g-5">

            <p-dropdown id="nomMat"  [options]="prestationInterne.locale.localDetails"  [(ngModel)]="prestationInterne.materielLocale" optionLabel="descriptionMaterielLocale" placeholder="Choisir un materiel"  [filter]="true"></p-dropdown>

        </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="date" style="color: #00aeef"><strong>Date</strong></label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
        <input pInputText formControlName="date"  type="date" [(ngModel)]="prestationInterne.dateI" id="date"/>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['date'].hasError('required') && (userform.controls['date'].dirty || userform.controls['date'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="reclameer" style="color: #00aeef"><strong>Cette prestation est reclamée ?</strong></label>
      </div>
      <div class="ui-g-2">
        <p-checkbox [(ngModel)]="prestationInterne.reclamedI" id="reclameer" [binary]="true"></p-checkbox>
      </div>
      <div class="ui-g-3"></div>
    </div>

    <div class="ui-g-12" *ngIf="prestationInterne.reclamedI">
      <div class="ui-g-3">
        <label for="refReclamationn" style="color: #00aeef">Réclamation :</label>
      </div>
      <div class="ui-g-5">
        <label for="refReclamationn" *ngIf="prestationInterne.reclamationI != null">{{prestationInterne.reclamationI.descreptionDropDownReclamation}}</label>
        <p-dropdown [filter]="true"  [options]="foundedReclamatoinsSousTraitement" optionLabel="descreptionDropDownReclamation" placeholder="changer la reclamation" [(ngModel)]="prestationInterne.reclamationI"  id="refReclamationn"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="codeAgent" style="color: #00aeef"><strong>Agent</strong></label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
          <p-dropdown type="text" formControlName="agent" [options]="foundedAgents" optionLabel="nomAgent" [(ngModel)]="prestationInterne.agent" placeholder="Choisir un agent"  id="codeAgent" [filter]="true"></p-dropdown>
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform.controls['agent'].touched &&!userform.controls['agent'].dirty  || userform.controls['agent'].value=='Choisir un agent')"
                   text="Veuillez choisir un agent"></p-message>
      </div>
    </div>

  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-trash" (click)="confirm()" label="Supprimer"></button>
      <button type="button" pButton icon="pi pi-save" [disabled]="!userform.valid" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>

</p-dialog>
