<div class="content">
  <div class="row">
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Reclamations</strong></h3>
      <p-chart type="pie" [data]="dataREclamations"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Prestations</strong></h3>
      <p-chart type="bar" [data]="dataPrestations"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>

    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color:  rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Bons Véhicules</strong></h3>
      <p-chart type="pie" [data]="dataBons"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>

  </div>
</div>
<br>
<div class="content">
  <div class="row">
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Utilisateurs</strong></h3>
      <p-chart type="pie" [data]="dataREclamations"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Vehicules</strong></h3>
      <p-chart type="bar" [data]="dataPrestations"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>

    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: rgba(121,244,200,0.92); text-align: center"><strong>Statistiques des Materiel</strong></h3>
      <p-chart type="pie" [data]="dataBons"></p-chart>
      <br>
      <button pButton icon="pi pi-refresh" label="rafraichir" ></button>

    </div>

  </div>
</div>
