<button class="btn btn-sm btn-outline-primary" (click)="refresh()">Rafraichir</button>
<div style="text-align: center; align-items: center; align-content: center" *ngIf="progress">
  <p-progressSpinner  ></p-progressSpinner>
</div>
<div *ngIf="!progress">
<div class="content">
  <div class="row">
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Réclamations</em></h3>
      <p-chart type="pie" [data]="dataREclamations"></p-chart>
      <br>
    </div>
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Prestations</em></h3>
      <p-chart type="doughnut" [data]="dataPrestations"></p-chart>
      <br>
    </div>

    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Bons</em></h3>
      <p-chart type="polarArea" [data]="dataBons"></p-chart>
      <br>
    </div>

  </div>
</div>
<br>
<div class="content">
  <div class="row">
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Utilisateurs</em></h3>
      <p-chart type="doughnut" [data]="dataUtilisateur"></p-chart>
      <br>


    </div>
    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Véhicules</em></h3>
      <p-chart type="polarArea" [data]="dataVehicule"></p-chart>
      <br>


    </div>

    <div class="col-md-4" style="text-align: center; align-items: center; align-content: center">

      <h3 style="color: #00631d; text-align: center"><em>Statistiques des Matériel</em></h3>
      <p-chart type="pie" [data]="dataMateriel"></p-chart>
      <br>

    </div>

  </div>
</div>
</div>
