<p-panel header="Gestion des utilisateurs" style="text-align: center ; font-size:100px ">
  <p-table #dt  [columns]="cols"  [value]="users" [resizableColumns]="true" [autoLayout]="true" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div style="text-align: right" >
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Recherche dans la Table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Ajouter un utilisateur"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog  header="Utilisateur Détails"   [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="false"  [style]="{width:'600px'}">

    <div class="ui-g ui-fluid"   *ngIf="user">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="matricule"> Nom d'utilisateur *:</label>
        </div>
        <div class="ui-g-4">
          <input pInputText id="matricule"  [(ngModel)]="user.username" autofocus />
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="user.username == ''"  text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="marque">Mot de passe *:</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="marque" [(ngModel)]="user.password" />
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="type">Type Utilisateur *:</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="type" [options]="type" [(ngModel)]="user.typeu"></p-dropdown>
        </div>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!cancel" type="button" pButton icon="pi pi-times" (click)="delete()" label="Supprimer"></button>
        <button type="submit"  pButton icon="pi pi-check" (click)="save();onSubmit()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>
</p-panel>
