<p-toast></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Annuler" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-table #dt  [columns]="cols"  [value]="users" [resizableColumns]="true" [autoLayout]="true" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h3" style="color: #004a80"><strong>Gestion des utilisateurs</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div style="text-align: center; align-items: center; align-content: center">
            <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
            <input type="text" pInputText size="50" placeholder="Rechercher dans la Table " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-user-plus" (click)="showDialogToAdd()" label="Ajouter un utilisateur"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog  header="Utilisateur Détails"   [(visible)]="displayDialog" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width:'700px',textAlign:'center'}">



    <div class="ui-g ui-fluid"  *ngIf="user">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="ma" style="color: #00aeef"><strong> Nom : </strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="ma" formControlName="nom" [(ngModel)]="user.nom" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['nom'].hasError('required') && (userform.controls['nom'].dirty || userform.controls['nom'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="marqee" style="color: #00aeef"><strong> Prénom :</strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="marqee" formControlName="prenom" [(ngModel)]="user.prenom" />
          </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['prenom'].hasError('required') && (userform.controls['prenom'].dirty || userform.controls['prenom'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="marqe" style="color: #00aeef"><strong> Nº de Télephone :</strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="marqe"  formControlName="telephone" [(ngModel)]="user.telephone" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['telephone'].hasError('required') && (userform.controls['telephone'].dirty || userform.controls['telephone'].touched) "
                     text="Champ Obligatoire"></p-message>
          <p-message severity="error" *ngIf="userform.controls['telephone'].hasError('pattern') && (userform.controls['telephone'].dirty || userform.controls['telephone'].touched) "
                     text="Numero non valide"></p-message>
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="matricule" style="color: #00aeef"><strong> Nom d'utilisateur :</strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="matricule" placeholder="sensible à la casse" formControlName="usernamee" [(ngModel)]="user.username"  />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['usernamee'].hasError('required') && (userform.controls['usernamee'].dirty || userform.controls['usernamee'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="marque" style="color: #00aeef"><strong>Mot de passe :</strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText formControlName="passwordd" id="marque" placeholder="sensible à la casse" [(ngModel)]="user.password" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['passwordd'].hasError('required') && (userform.controls['passwordd'].dirty || userform.controls['passwordd'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="type" style="color: #00aeef"><strong>Type Utilisateur :</strong></label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <p-dropdown id="type" formControlName="type" [options]="type" [(ngModel)]="user.type"></p-dropdown>
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="(userform.controls['type'].touched &&!userform.controls['type'].dirty  || userform.controls['type'].value=='Selectionnez le Type')"
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!cancel" type="button" [disabled]="!userform.valid" pButton icon="pi pi-times" (click)="confirm()" label="Supprimer"></button>
        <button type="submit"  pButton icon="pi pi-check" [disabled]="!userform.valid" (click)="save()" label="Enregistrer"></button>
      </div>
    </p-footer>

  </p-dialog>
