@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~font-awesome/css/font-awesome.min.css';

body {
  background: url("assets/glitters-on-blue-surface-3991970.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

