<p-toast [style]="{marginTop: '30%'}"></p-toast>
<p-table #dt  [columns]="cols" [responsive]="true" [value]="agents" [resizableColumns]="true" [autoLayout]="true" selectionMode="single" [(selection)]="selectedAgent" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h3" style="color: #004a80"><strong>Gestion Des Agents</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div style="text-align: center; align-items: center; align-content: center">
            <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
            <input type="text" pInputText size="50" placeholder="Filtre des Résultas " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-user-plus" (click)="showDialogToAdd()" label="Ajouter un Agent"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog  header="Agent Détails"   [(visible)]="displayDialog" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="false"  [style]="{width:'60%'}">

    <div class="ui-g ui-fluid"   *ngIf="agent">

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="codA"> Code Agent :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText formControlName="codeAgent" id="codA" [(ngModel)]="agent.codeAgent" />
        </div>
        </div>
        <div class="ui-g-4">
            <p-message severity="error" *ngIf="userform.controls['codeAgent'].hasError('required') && (userform.controls['codeAgent'].dirty || userform.controls['codeAgent'].touched) "
                       text="Champ Obligatoire"></p-message>
          </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="nomA"> Nom Agent :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText formControlName="nomAgent" id="nomA" [(ngModel)]="agent.nomAgent" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['nomAgent'].hasError('required') && (userform.controls['nomAgent'].dirty || userform.controls['nomAgent'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="date"> Date Entrée :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText type="date" formControlName="dateEntree" id="date" [(ngModel)]="agent.dateEntree" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['dateEntree'].hasError('required') && (userform.controls['dateEntree'].dirty || userform.controls['dateEntree'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="matricule">Entreprise liée :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="matricule" formControlName="entrepriseLiee" [(ngModel)]="agent.entrepriseLiee" autofocus />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['entrepriseLiee'].hasError('required') && (userform.controls['entrepriseLiee'].dirty || userform.controls['entrepriseLiee'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>

      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="ad">Adresse Domicile:</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input pInputText id="ad" formControlName="adresseDomicile" [(ngModel)]="agent.adresseDomicile" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['adresseDomicile'].hasError('required') && (userform.controls['adresseDomicile'].dirty || userform.controls['adresseDomicile'].touched) "
                     text="Champ Obligatoire"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="tel">Telephone :</label>
        </div>
        <div class="ui-g-5">
          <div class="form-group" [formGroup]="userform"  >
          <input type="text" formControlName="telephone" pInputText id="tel" [(ngModel)]="agent.tel" />
        </div>
        </div>
        <div class="ui-g-4">
          <p-message severity="error" *ngIf="userform.controls['telephone'].hasError('required') && (userform.controls['telephone'].dirty || userform.controls['telephone'].touched) "
                     text="Champ Obligatoire"></p-message>
          <p-message severity="error" *ngIf="userform.controls['telephone'].hasError('pattern') && (userform.controls['telephone'].dirty || userform.controls['telephone'].touched) "
                     text="Numero non valide"></p-message>
        </div>

      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!cancel" [disabled]="!userform.valid" type="button" pButton icon="pi pi-trash" (click)="delete()" label="Supprimer"></button>
        <button type="submit"  pButton icon="pi pi-save" [disabled]="!userform.valid" (click)="save()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>


