<p-table #dt [columns]="cols" [value]="reclamationsFounded" selectionMode="single" [resizableColumns]="true" [autoLayout]="true" [(selection)]="selectedReclamation" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="8">

  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-12">
    <h1 class="h3" style="color: #004a80"><strong>Liste Des Réclamations</strong></h1>
      </div>
    </div>
      <div class="row">
        <div class="col-md-8"></div>
      <div class="col-md-4">
    <div style="text-align: center; align-items: center; align-content: center">
      <i class="pi pi-search" style="margin:4px 4px 4px 4px"></i>
      <input type="text" pInputText size="50" placeholder="Filtre des Résultas " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:80%">
    </div>
    </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="text-align:center">
        <span><button  class="btn btn-block btn-outline-success"  (click)="reclamationSeen(rowData)">Vu : <i class="fa fa-eye"></i></button></span>

      </td>
    </tr>
  </ng-template>

</p-table>

<p-dialog header="Réclamation Details" [(visible)]="displayDialog"   [focusOnShow]="true"  showEffect="fade" [modal]="true"  [style]="{width: '660px'}">
  <div class="ui-g ui-fluid" *ngIf="reclamation">

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="objett">Objet :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
        <input type="text"  formControlName="objet"  pInputText id="objett" [(ngModel)]="reclamation.objet" />
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="userform.controls['objet'].hasError('required') && (userform.controls['objet'].dirty || userform.controls['objet'].touched) "
                   text="Champ Obligatoire"></p-message>
      </div>
    </div>





    <div class="ui-g-12">
      <div class="ui-g-3">
        <label >Locale :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
        <p-dropdown formControlName="local" [options]="locales" [(ngModel)]="reclamation.nomLocale" [filter]="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform.controls['local'].touched &&!userform.controls['local'].dirty  || userform.controls['local'].value=='Choisir un locale')" text="Veuillez choisir un locale"></p-message>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="description">Description :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform"  >
        <textarea  pInputText formControlName="description" autoResize="autoResize" id="description" placeholder="la description du probleme rencontré"  [(ngModel)]="reclamation.description" style="resize: none; height: 60px"></textarea>
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="userform.controls['description'].hasError('required') && (userform.controls['description'].dirty || userform.controls['description'].touched) "
                   text="Champ Obligatoire"></p-message>
      </div>
    </div>
          </div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button *ngIf="!cancel" [disabled]="!userform.valid" type="button" pButton icon="pi pi-trash" (click)="delete()" label="Supprimer"></button>
              <button type="button" pButton icon="pi pi-save" [disabled]="!userform.valid"  (click)="save()" label="Enregistrer"></button>
            </div>
          </p-footer>
        </p-dialog>


<!-- second dialog -->

<p-dialog header="Reclamation Details" [(visible)]="displayDialogM"   [focusOnShow]="true"  showEffect="fade" [modal]="true"  [style]="{width: '660px'}">
  <div class="ui-g ui-fluid" *ngIf="reclamation">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="objet">Objet :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform1"  >
        <input type="text" formControlName="objett" pInputText id="objet" [(ngModel)]="reclamation.objet" />
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="userform1.controls['objett'].hasError('required') && (userform1.controls['objett'].dirty || userform1.controls['objett'].touched) "
                   text="Champ Obligatoire"></p-message>
      </div>
    </div>





    <div class="ui-g-12">
      <div class="ui-g-3">
        <label >Locale :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform1"  >
        <p-dropdown formControlName="locale" [options]="locales" [(ngModel)]="reclamation.nomLocale" [filter]="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform1.controls['locale'].touched &&!userform1.controls['locale'].dirty  || userform1.controls['locale'].value=='Choisir un locale')"
                   text="Veuillez choisir un locale"></p-message>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-3">
        <label >Matériel :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform1"  >
        <p-dropdown formControlName="mater" [options]="locales" [(ngModel)]="reclamation.nomMateriel" [filter]="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="(userform1.controls['mater'].touched &&!userform1.controls['mater'].dirty  || userform1.controls['mater'].value=='Choisir un matériel')"
                   text="Veuillez choisir un matériel" text="Champ Obligatoire"></p-message>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="descriptionM">Description :</label>
      </div>
      <div class="ui-g-5">
        <div class="form-group" [formGroup]="userform1"  >
        <textarea  formControlName="desc"  pInputText autoResize="autoResize" id="descriptionM"   [(ngModel)]="reclamation.description" style="resize: none; height: 60px"></textarea>
      </div>
      </div>
      <div class="ui-g-4">
        <p-message severity="error" *ngIf="userform1.controls['desc'].hasError('required') && (userform1.controls['desc'].dirty || userform1.controls['desc'].touched) "
                   text="Champ Obligatoire"></p-message>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="!cancel" [disabled]="!userform1.valid" type="button" pButton icon="pi pi-trash" (click)="delete()" label="Supprimer"></button>
      <button type="button" pButton icon="pi pi-save" [disabled]="!userform1.valid" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>

