<div class="card">
  <div class="card-header">Save reclamation</div>
  <div class="card-body">
    <label>object</label>
    <input type="text">
    <label for="">type</label>
    <select name="" id="" >
      <option value="">mateiel</option>
      <option value="">autre</option>
    </select>

    <label for="">locale</label>
    <select name="" id="" >
      <option value="">salle 1</option>
    </select>

    <label for="">Liste Materiel</label>
    <select name="" id="">
      <option value="">data show</option>
    </select>

    <label>description</label>
    <textarea name="" id="" cols="100" rows="2"></textarea>
  </div>
  <div class="card-footer"></div>
</div>
